.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Центрирует всё по вертикали и горизонтали */
  flex-direction: column; /* Размещает элементы по вертикали */
  text-align: center; /* Центрирует текст */
}

.color-box {
  width: 250px; /* Увеличиваем размер квадрата */
  height: 250px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 20px; /* Отступ снизу для отделения от других элементов */
}

colorPicker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 0 10px; /* Отступы между полями ввода */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px; /* Отступ сверху */
  cursor: pointer;
}

input[type="color"] {
  width: 300px; /* Увеличиваем размер палитры */
  height: 50px;
}
